# Ignore all files
node_modules/
.env
*.xlsx
*.doc
data/
.claude/settings.local.json
docs/

# Jama browser-export debug artifacts (created by ad-hoc recorder scripts)
jama-trace.zip
jama-clicks/
.trace-extract/




# Allowed files
!index.html
!.env.example
